.button {
  width: 100%;
  margin-top: 4rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: var(--purple);
  color: var(--white);
  padding: 0 2rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;

  span {
    margin-left: 0.5rem;
  }
  
  transition: filter 0.2s;
  &:not(:disabled):hover {
    filter: brightness(0.9)
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}