.pageAuth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;    
    background: var(--purple);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: var(--background);
    }
  }

  main {
    flex: 8;
    padding: 0 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: center;
    text-align: center;

    > img {
      align-self: center;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        height: 3.125rem;
        border-radius: 0.5rem;
        padding: 0 1rem;
        background: var(--white);
        border: 1px solid var(--gray-medium);
      }

      button {
        margin-top: 16px;

      }

    }
  }

  .createRoom {
    width: 100%;
    margin-top: 4rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    font-weight: 500;
    background: var(--google);
    color: var(--white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;

    span {
      margin-left: 0.5rem;
    }
    
    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.9)
    }
  }

  .separator {    
    font-size: 0.875rem;
    color: var(--gray-medium);

    margin: 2rem 0;
    display: flex;
    align-items: center;
    width: 100%;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-medium);
      margin-right: 1rem;
    }
    
    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-medium);
      margin-left: 1rem;
    }
  }
}